.DS_Store
node_modules
/dist
/docs
bsoel323_p3-1_NOSTYLE.zip

# my files to ignore
.skr_scpconfig

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
